.App{
    text-align: center;
    background-color: rgba(100, 148, 237, 0.727);
    width: 100%;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.m{
    margin-bottom: 15px;
}